<!DOCTYPE html>
<html lang="pt-BR">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xhopii</title>

    <link rel="shortcut icon" href="../assets/logo.png" type="image/x-icon">

    <link rel="stylesheet" href="../assets/img/cadastrarFuncionario.css">

</head>

<body class="body">
    
    <!--Início Cabeçalho-->
    
    <header>
        <div class="cabecalho">
            <img class="tamanho-img-logo" src="../assets/img/logo.png">

            <h1>Xhopii</h1>

            <p>Sair</p>
        </div>

    </header>

    <!--Fim cabeçalho-->

       <!--Início barra de navegação-->

    <nav class="barra-navegacao">

        <section class="itens-navegacao">
            <h4>Home</h4>
            <h4>Cadastro Cliente</h4>
            <h4>Cadastro Funcionário</h4>
            <h4>Cadastro Produto</h4>
            <h4>Ver Clientes</h4>
            <h4>Ver Funcionários</h4>
            <h4>Ver produtos</h4>
        </section>

    </nav>

    <!--Fim barra de navegação-->

    <!--Início corpo principal-->

    <article id="corpo-principal">
    
        <section class="tela-branca-formulario">
            
            <form class="formatacao-campos" id="margem-formulario">

                <p id="texto-cadastrar">Cadastrar Funcionário</p>

                <input type="text" id="nome1" name="nome" placeholder="Nome">

                <input type="text" id="sobrenome" name="sobrenome" placeholder="Sobrenome">

                <input type="string" id="CPF" name="CPF" placeholder="CPF">

                <input type="date" id="dt_nascimento" name="nascimento">

                <input type="string" id="telefone" name="telefone" placeholder="Telefone">

                <input type="string" id="cargo" name="cargo" placeholder="Cargo / Função">

                <input type="int" id="salario" name="salario" placeholder="Salário">

                <input type="string" id="email" name="email" placeholder="Email">

                <input type="password" id="senha" name="senha" placeholder="Senha">

                <p id="texto-botao">Selecionar foto de perfil:</p>

                <div id="botao-arquivo-texto">

                    <button id="botao-arquivo">Escolher arquivo</button>
                    <p>Nenhum arquivo escolhido</p>

                </div>

                <button id="botao-cadastrar">Cadastrar</button>

            </form>


        </section>
    </article>
    <!--Fim do corpo principal-->

    <!--Início rodapé-->
        <footer class="rodape_detalhado">
        <div class="container_footer">
            <div class="coluna_footer">
                <h3>ATENDIMENTO AO CLIENTE</h3>
                <ul>
                    <li>Central de Ajuda</li>
                    <li>Como Comprar</li>
                    <li>Pagamento</li>
                    <li>Garantia Xhopii</li>
                    <li>Devolução e Reembolso</li>
                </ul>
            </div>

            <div class="coluna_footer">
                <h3>SOBRE A XHOPII</h3>
                <ul>
                    <li>Sobre Nós</li>
                    <li>Políticas Xhopii</li>
                    <li>Privacidade</li>
                    <li>Seja um Entregador</li>
                </ul>
            </div>

            <div class="coluna_footer">
                <h3>PAGAMENTO</h3>
                <div class="grid_pagamento">
                    <img src="../assets/img/logo-visa.png" alt="Visa">
                    <img src="../assets/img/logo-mastercard.png" alt="Master">
                    <img src="../assets/img/logo-elo.png" alt="Elo">
                </div>
            </div>

            <div class="coluna_footer">
                <h3>SIGA-NOS</h3>
                <ul class="redes_sociais_lista">
                    <li><img src="../assets/img/logo-instagram.png"> Instagram</li>
                    <li><img src="../assets/img/logo-facebook.png"> Facebook</li>
                </ul>
            </div>

            <div class="coluna_footer">
                <h3>BAIXE O APP XHOPII</h3>
                <div class="container_qrcode">
                    <img src="../assets/img/qr-code.png" alt="QR Code" class="img_qr">
                    <div class="apps_links">
                        <img src="../assets/img/logo-google-play.png" alt="Google Play">
                        <img src="../assets/img/logo-store-apple.png" alt="App Store">
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <hr>
            <p>&copy; 2026 Xhopii. Todos os direitos acadêmicos reservados.</p>
        </div>
    </footer>

    <!--Fim rodapé-->


    
</body>
</html>