<!DOCTYPE html>
<html lang="pt-BR">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">

    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    
    <title>Xhopii</title>

</head>
<body class="body">

    <!--Início Cabeçalho-->
    
    <header class="cabecalho">

        <img class="tamanho-img-logo" src="../img/logo.png">

        <h1>Xhopii</h1>

    </header>

    <!--Fim cabeçalho-->

    <!--Início barra de navegação-->

    <nav class="barra-navegacao">

        <section class="itens-navegacao">
            <h4>Home</h4>
            <h4>Cadastro Cliente</h4>
            <h4>Cadastro Funcionário</h4>
            <h4>Cadastro Produto</h4>
            <h4>Ver Clientes</h4>
            <h4>Ver Funcionários</h4>
            <h4>Ver produtos</h4>
        </section>

    </nav>

    <!--Fim barra de navegação-->

    <!--Início parte principal-->

    <article class="centro">

        <section class="coluna-imagens">

            <img src="../img/produto1.png">
            <img src="../img/produto2.png">
            <img src="../img/produto3.png">
            <img src="../img/produto4.png">
            <img src="../img/produto5.png">

        </section>

        <section class="imagem-principal">
            <img class="tamanho-img-prod1" src="../img/produto1.png">
        </section>

        <article class="info-img-principal">
             <h1>Camisa Desenvolvedor Front-End CSS</h1>
             <p id="info-img-principal-p">R$56,90</p>
             <p id="info-img-principal-p2">171 peças disponíveis</p>
             <p id="info-img-principal-p3">Modelos:</p>
            
            <section class="info-img-principal-botoes">
                <!--Botões modelo-->
                <button>Preto</button>
                <button>Azul</button>
                <button>Verde</button>
                <button>Cinza</button>
                <button>Rosa</button>

                <p>Tamanhos:</p>
                <!--Botões tamanho-->
                <button>P</button>
                <button>M</button>
                <button>G</button>
                <button>GG</button>

                <p>Tamanho selecionado: </p>

            </section>
            <!--Botão comprar agora -->
            <button id="info-botao-comprar">Comprar Agora</button>
        </article>

           

    </article>

    <!--Fim parte principal-->

</body>
<!--Se eu trabalhar com front-end, com certeza vou infartar-->
</html>